#game_right_panel{
    background-color: #ffffff;
	border: 2pt solid #c7c7c7;
}


.card, .null_card, .selected_card {
	color: #ffffff;
}


.card {
	border: solid white;
	border-width: 5pt;
}


.selected_card {
	background-image: url(../assets/preview_white.svg);
	background-repeat: "no-repeat";
	background-position: "center";
}

.water {
	background-color: rgb(88, 110, 235);
}

.field {
	background-color: rgb(255, 252, 77);
}

.rock {
	background-color: rgb(117, 117, 117);
}

.forest {
	background-color: rgb(28, 168, 51);
}
/*

.selected_card:hover{
	background-image: url(../assets/preview_white_hover.svg);
}

.null_card:hover{
	background-image: url(../assets/preview_white_hover.svg);
}*/

#draw_card{
	background-image: url(../assets/preview.svg);
}

#game {
	background-color: #35393f;
}
