
/*direttive per tutti*/
* {
	margin: 0;
	padding: 0;
}

#board-container {
	display: flex;

	height: 100%;
	width: 100%;
	
	justify-content: center;
	align-items: center;
}

/*the grid itself*/
#board {
	display: grid;
	grid-gap: 5pt;

	/*funziona solo margin generico*/
	margin: 10pt;
}

/*carta attiva*/
.card, .selected_card {
	display: block;
	overflow: hidden;

	max-width: 400px;
	max-height: 400px;
}


.selected_card {
	cursor: pointer;
	position: relative;
}


.null_card {
	display: none;
}



#game_right_panel{
	max-width: 	400pt;	
	min-width: 200pt;
	padding: 	20pt;
	border-radius: 	20pt;
	
	position: 	relative;
	top: 		0;
}
	


#draw_card {
	display: flex;
	
	margin-top: 20pt;
	margin-bottom: 20pt;

	
	margin-left: auto;
	margin-right: auto;
	

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	justify-content: center;
	align-items: center;

	height: 150pt;
	width: 150pt;
}

#pawns {
	display: grid;
	grid-gap: 5pt;
	margin-top: 10pt;
	justify-content: space-evenly;
	justify-items: center;
}

#pawn {
	align-items: center;
	justify-content: center;
}

#time_div {
	display: flex;
}



#time {
	align-content: center;
}

#game {
	display: flex;
	
	max-width: 100vw;
	max-height: 100vh;

	height: 100vh;
	width: 100vw;

	text-align: center;
	justify-content: center;
	flex-wrap: nowrap;
}



html, body {
	max-width: 100vw;
	max-height: 100vh;

	height: 100vh;
	width: 100vw;
}

/*background-repeat: "no-repeat";
	background-size: "contain";
	background-position: "center";*/